.skip-links {
	//height: 2rem;
	top: 0.25rem;
	background: white;
}
.show-links-on-focus {
	overflow: hidden;
	a {
		display: inline-block;
		max-width: 100%;
		position: absolute;
		left: -100vw;
		&:focus {
			left: 0;
			display: inline;
			background: white;
			width: 100%;
			padding: 1rem;
		}
	}
}
