<div class="shortcuts-helper">
	<h1 mat-dialog-title>Raccourcis clavier</h1>
	<div mat-dialog-content>
		<p>
			Vous pouvez naviguer d'un champ de date à un autre avec les flèches du clavier.
		</p>

		<app-wip-todo></app-wip-todo>
		<table>
			<thead>
				<tr>
					<th>
						Fonction
					</th>
					<th>
						Raccourci
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Créer un nouveau choix
					</td>
					<td>
						Ctrl + N
					</td>
				</tr>
				<tr>
					<td>
						Naviguer vers le champ suivant. Créée un nouveau champ si effectué sur le dernier champ.
					</td>
					<td>
						Ctrl + flèche bas
					</td>
				</tr>
				<tr>
					<td>
						réinitialiser le champ actuel
					</td>
					<td>
						Ctrl + effacer
						<br />
						ou
						<br />
						Ctrl + supprimer
					</td>
				</tr>
				<tr>
					<td>
						Alterner entre un sondage de type Date et un sondage texte
					</td>
					<td>
						Alt + D
					</td>
				</tr>
				<td>
					Tout envoyer
				</td>
				<td>
					Ctrl + entrée
				</td>
			</tbody>
		</table>
	</div>
	<div mat-dialog-actions>
		<button mat-button cdkFocusInitial>Ok</button>
	</div>
</div>
