<!--				date picker calendrier-->
<div class="picker" [formGroup]="form">
	<div class="column calendar-column">
		<button class="btn" (click)="selectionKind = 'range'" [class.is-primary]="selectionKind == 'range'">
			plage de jours
		</button>

		<button class="btn" (click)="selectionKind = 'multiple'" [class.is-primary]="selectionKind == 'multiple'">
			jours séparés
		</button>
		<button class="btn" (click)="setDefaultDatesForInterval()">
			réinitialiser
		</button>
		<button class="btn" (click)="dateCalendarEnum = [today]">
			vider
		</button>
		<div class="text-center">
			<br />
			ici un calendrier datepicker avancé
			<!--			<p-calendar-->
			<!--				[(ngModel)]="dateCalendarEnum"-->
			<!--				[locale]="'calendar_widget' | translate"-->
			<!--				[inline]="true"-->
			<!--				[monthNavigator]="true"-->
			<!--				[selectionMode]="selectionKind"-->
			<!--			></p-calendar>-->
		</div>
	</div>
</div>
