<button (click)="copy()" class="button is-primary" id="copyLink">
	<span *ngIf="displayLabelButton">
		{{ 'success.copy' | translate }}
	</span>
	<span *ngIf="displayContentToCopy"> " {{ textToCopy }}" </span>
</button>
