.consultation {
	.is-active {
		background: $primary-color;
		color: $white;
	}
}

.alert {
	@extend .padded;
	border-radius: 0.25em;
	color: $font_color;
}

.is-finish {
	background: $success_color;
	color: $white;
	&:hover {
		background: mix($success_color, $white);
		color: $font_color;
	}
}
