.time-list-container {
	margin-top: 0.5em;
	padding-left: 1rem;
	.icon {
		margin-right: 1ch;
	}

	.time-list-item {
		width: 60%;
		margin-bottom: 1rem;
		display: inline;
		input {
			margin-right: 1ch;
		}
		.button {
			display: inline-block;
		}
	}
	.remove-item {
		height: 2.5rem;
		margin-left: 1rem;
		float: right;
	}
}
